<%- include('layout.ejs') %>
<% if (user){ %>
	<h2>Hello, <%= user.username %></h2>
	<p>Your email is <%= user.emails[0].value %></p>
	<div class="listening-party-cointainer">
		<button onclick="new function(){window.location.href = '/startparty'}">Start a Listening Party</button>
	</div>
<% } else { %>
	<h2>Welcome! Please log in.</h2>
	<p><a href="/login">login</a></p>
<%}%>